@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=DM+Mono&family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=DM+Mono&family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=DM+Mono&family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=DM+Mono&family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=DM+Mono&family=Inter&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #000000;
  color: #FFFFFF;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  font-weight: 400;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

section {
  max-width: 1190px;
  padding: 0 15px;
  margin-left: 40px;
}

.hidden {
  display: none;
}

.marquee {
  max-width: 100%;
  font-size: 79px;
  line-height: 88px;
  font-family: "Audiowide", sans-serif;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.icons_position_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.icons__socialmedia {
  width: 36px;
  height: 36px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  display: block;
  text-align: center;
  max-width: 205px;
  padding: 17px 40px;
  background-color: #8DFD1B;
  color: black;
  font-family: "DM Mono", monospace;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.button_transparent {
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid #8DFD1B;
  max-width: 246px;
  padding: 10px 33px 16px 33px;
}
.button_small {
  max-width: 213px;
  padding: 17px 31px 17px 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4.5px;
}
.logo_small {
  gap: 0.3px;
}
.logo__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.logo__item_has_margin {
  padding: 0;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.logo__item_has_margin > svg:nth-child(-n+2) {
  margin-right: 4.5px;
}
.logo__item_small > svg:nth-child(-n+2) {
  margin-right: 0.3px;
}

.nav {
  max-width: 1190px;
  margin: 50px auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "DM Mono", monospace;
  font-size: 16px;
  line-height: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin-left: 70px;
  padding-bottom: 114px;
}
.promo__left {
  width: 35%;
}
.promo__right {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.promo__right img {
  max-width: 870px;
  width: 100%;
}
.promo__title {
  font-family: "Audiowide", sans-serif;
  font-size: 51px;
  max-width: 484px;
  padding-bottom: 43px;
}
.promo__text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  max-width: 340px;
  padding-bottom: 115px;
}

.background {
  max-width: 100%;
  padding: 0;
  margin: 0;
  padding-bottom: 120px;
}
.background__img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  height: 240px;
}

.roadmap {
  max-width: 100%;
  margin: 0;
  padding-bottom: 240px;
}
.roadmap__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 720px;
  gap: 140px;
  margin: 0 auto;
}
.roadmap__header {
  border-bottom: 1px solid #8DFD1B;
  font-family: "DM Mono", monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.roadmap__number {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  font-size: 28px;
  border: 1px solid #8DFD1B;
}
.roadmap__number_backround_green {
  background-color: #8DFD1B;
  color: black;
}
.roadmap__block_position_top {
  padding-left: 22.25px;
  padding-bottom: 14px;
}
.roadmap__block_position_middle {
  padding-bottom: 14px;
  padding-top: 10.75px;
}
.roadmap__event {
  text-transform: uppercase;
}
.roadmap__subtitle {
  padding-left: 11.75px;
}
.roadmap__card {
  max-width: 538px;
  border: 1px solid #8DFD1B;
  background-color: #222222;
  margin: 0 auto;
}
.roadmap__description {
  font-family: "Inter", sans-serif;
  max-width: 310px;
}
.roadmap__title {
  font-size: 38px;
  font-family: "Audiowide", sans-serif;
  line-height: 45.5px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 80px;
}
.roadmap__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 12px;
}
.roadmap__text {
  font-size: 11px;
  line-height: 32px;
}
.roadmap__text_size_big {
  font-size: 12px;
}
.roadmap__text_line-height {
  line-height: 25.6px;
}
.roadmap__text_color_green {
  color: #8DFD1B;
}
.roadmap__phase {
  color: #8DFD1B;
  font-size: 8px;
  line-height: 12px;
  text-transform: uppercase;
}
.roadmap__img {
  border-radius: 8px;
}

.partners {
  max-width: 100%;
  text-align: center;
  padding-bottom: 50px;
}
.partners__header {
  color: #8DFD1B;
  letter-spacing: 1px;
  line-height: 12px;
  font-size: 11px;
  font-family: "DM Mono", monospace;
  text-transform: uppercase;
}

.artists {
  max-width: 1160px;
  margin-left: 40px;
  padding-bottom: 240px;
}
.artists__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px 40px;
}
.artists__photo {
  padding-bottom: 40px;
}
.artists__name {
  text-align: center;
  font-family: "DM Mono", monospace;
}

.about {
  padding-bottom: 120px;
}
.about__title {
  font-size: 37px;
  line-height: 45.5px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 61px;
}
.about__title_color_grey {
  color: #A8A8A8;
}
.about__left {
  max-width: 282px;
  width: 100%;
}
.about__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about__button {
  padding: 25px 134px 31px 28px;
  background-color: transparent;
  border: none;
  color: white;
  font-family: "DM Mono", monospace;
}
.about__button_active {
  background-color: #222222;
  color: #8DFD1B;
}
.about__subtitle {
  font-size: 21px;
  line-height: 32px;
  padding-bottom: 32px;
  padding-left: 22px;
  max-width: 550px;
  font-family: "DM Mono", monospace;
  color: #8DFD1B;
}
.about__subtitle::before {
  content: "";
  display: block;
  width: 2px;
  height: 93px;
  background-color: #8DFD1B;
  position: absolute;
  margin-left: -22px;
  border-radius: 5px;
}
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px;
  max-width: 878px;
  width: 100%;
  background-color: #222222;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__text {
  max-width: 522px;
  padding-bottom: 18px;
  font-family: "Inter", sans-serif;
  line-height: 25.6px;
}

.collection {
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 120px;
}
.collection__left {
  max-width: 50%;
  width: 100%;
}
.collection__right {
  max-width: 50%;
  width: 100%;
  position: relative;
}
.collection__title {
  font-size: 38px;
  font-family: "Audiowide", sans-serif;
  padding-bottom: 40px;
  padding-left: 60px;
}
.collection__colortitle {
  color: #A8A8A8;
}
.collection__subtitle {
  font-size: 21px;
  line-height: 32px;
  padding-bottom: 27px;
  padding-left: 22px;
  max-width: 566px;
  font-family: "DM Mono", monospace;
  color: #8DFD1B;
}
.collection__text {
  font-size: 16px;
  padding-bottom: 18px;
  font-family: "Inter", sans-serif;
  line-height: 25.6px;
  max-width: 551px;
}
.collection__text_position_middle {
  font-size: 15px;
  max-width: 562px;
}
.collection__text_position_last {
  max-width: 564px;
}
.collection__subtitle::before {
  content: "";
  display: block;
  width: 2px;
  height: 124px;
  background-color: #8DFD1B;
  position: absolute;
  margin-left: -22px;
  border-radius: 5px;
}

.faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding-bottom: 115px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.faq__block {
  max-width: 50%;
  width: 100%;
}
.faq__title {
  font-family: "Audiowide", sans-serif;
  padding-bottom: 51px;
  font-size: 38px;
  line-height: 45.5px;
  text-transform: uppercase;
}
.faq__title_color_grey {
  color: #A8A8A8;
}
.faq__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  background-color: transparent;
  font-family: "DM Mono", monospace;
  line-height: 24px;
  border: none;
  background-color: #222222;
  padding-top: 23.6px;
  padding-left: 30px;
  padding-bottom: 30px;
}
.faq__accordion {
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: #C4C4C4;
  line-height: 19.2px;
  padding-right: 30px;
  background-color: #222222;
}
.faq__content {
  display: none;
}

.team {
  margin: 0 auto;
  padding-bottom: 236px;
}
.team__members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  font-family: "DM Mono", monospace;
}
.team__name {
  font-size: 21px;
  line-height: 27.73px;
  padding-top: 19px;
  text-transform: uppercase;
}
.team__member {
  text-align: center;
}
.team__position {
  padding-top: 18px;
  padding-bottom: 22px;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 12px;
  color: #8DFD1B;
  text-transform: uppercase;
}
.team__motto {
  text-align: center;
  padding-top: 22px;
  line-height: 19.2px;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  max-width: 238px;
  margin: 0 auto;
}

.join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 118px;
  margin: 0 auto;
}
.join__left {
  max-width: 50%;
  width: 100%;
}
.join__right {
  max-width: 50%;
  width: 100%;
}
.join__title {
  padding-top: 28.61px;
  font-size: 51px;
  font-family: "Audiowide", sans-serif;
  text-transform: uppercase;
  line-height: 60.61px;
}
.join__title_color_green {
  color: #8DFD1B;
}
.join__text {
  font-family: "Inter", sans-serif;
  max-width: 345px;
  line-height: 25.6px;
  padding-top: 34px;
  padding-bottom: 35px;
}

.footer {
  background-color: #42006A;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: "DM Mono", monospace;
}
.footer__container {
  max-width: 1190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 0 15px;
}
.footer__right {
  gap: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 70px;
  max-width: 208px;
  width: 100%;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 29px;
  line-height: 19.2px;
}
.footer__links_small_text {
  font-size: 13px;
}
.footer__copyright {
  font-size: 13px;
  line-height: 20.48px;
  width: 100%;
}