@import "_vars";

.artists {
    max-width: 1160px;
    margin-left: 40px;
    padding-bottom: 240px;
    &__list{
       display: flex;
       align-content: space-between;
       flex-wrap: wrap; 
       gap:60px 40px;  
    }

    &__photo{
        padding-bottom: 40px;
    }
    &__name {
        text-align: center;
        font-family:$font-Mono;
    }
}


    
