@import "_vars";

.nav {
    max-width: 1190px;
    margin: 50px auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    font-family: $font-Mono;
    font-size: 16px;
    line-height: 16px;
    align-items: center;

    &__left {
        display: flex;
        gap:40px;
    }
    &__links{
      display: flex; 
      gap:40px; 
      align-items: center;
    }
  

 
    
}
