@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=DM+Mono&family=Inter&display=swap');

$main-color: #FFFFFF;
$green-color: #8DFD1B;
$font-Audiowide: 'Audiowide', sans-serif;
$font-Inter: 'Inter', sans-serif;
$font-Mono: 'DM Mono', monospace;
