.join {
    display: flex;
    align-items: center;
    padding-bottom: 120px;
    margin: 0 auto;
    
    @media (max-width: $layout-breakpoint-small) {
        padding-bottom: 100px;
       
    }
    @media (max-width: $layout-breakpoint-xsmall) {
        padding-bottom: 50px;
    
    }
    
    &__left {
        max-width: 50%;
        width: 100%;

        @media (max-width: $layout-breakpoint-small) {
            max-width: 100%;
            text-align: center;
           }
    }

    &__right {
        max-width: 50%;
        width: 100%;

        @media (max-width: $layout-breakpoint-medium) {
           display: flex;
           justify-content: center;
          }

          @media (max-width: $layout-breakpoint-small) {
            display: none;
          
           }
    }
    &__title { 
        padding-top: 28.61px;
        font-size: 51px;
        font-family: $font-Audiowide;
        text-transform: uppercase;
        line-height: 60.61px;

        &_color_green {
            color:$green-color
            }

            @media (max-width: $layout-breakpoint-large) {
               
                font-size: 40px;
                line-height: 55px;
            }
    
            @media (max-width: $layout-breakpoint-medium) {
                font-size: 38px;
                line-height: 40px;
                
            }
            @media (max-width: $layout-breakpoint-small) {
                font-size: 28px;
                line-height: 30px;
              }
              @media (max-width: $layout-breakpoint-xsmall) {
                font-size: 24px;
              }
    }

    &__text {
        font-family: $font-Inter;
        max-width: 345px;
        line-height:25.6px;
        padding-top: 34px;
        padding-bottom: 35px;

        @media (max-width: $layout-breakpoint-large) {
              width: 100%;  
            font-size: 14px;
        }

        @media (max-width: $layout-breakpoint-small) {
            padding: 20px;
       
           max-width: 100%;
          }
          @media (max-width: $layout-breakpoint-xsmall) {
            font-size: 12px;
           
          }

    }
   
    &__button {
        path {
                transition: all .2s;
            }
    
        &:hover path{
            fill: white;
        
        }
        @media (max-width: $layout-breakpoint-small) {
          display: inline-flex;
          }

       }


}