.roadmap {

    max-width: 100%;
    margin: 0;
    padding-bottom: 240px;
    position: relative;
    overflow: hidden;

    @media (max-width: $layout-breakpoint-small) {
     padding-bottom: 100px;
    }
    @media (max-width: $layout-breakpoint-xsmall) {
        padding-bottom: 50px;
    
    }
    &__cards {
        display: flex;
        flex-direction: column;
        gap: 140px;
        align-items: center;

        @media (max-width: $layout-breakpoint-medium) {

            gap: 100px;
        }

        @media (max-width: $layout-breakpoint-small) {

            gap: 50px;

        }

    }

    &__card {
        max-width: 538px;
        width: 100%;
        border: 1px solid $green-color;
        background-color: #222222;

    }


    &__header {
        border-bottom: 1px solid $green-color;
        font-family: $font-Mono;
        display: flex;
        padding: 12px;
        align-items: center;
    }

    &__number {

        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        font-size: 28px;
        border: 1px solid $green-color;

        &_backround_green {
            background-color: $green-color;
            color: black;
        }
    }

    &__block {
        &_position_top {
            padding-left: 22.25px;
            padding-bottom: 14px;
        }

        &_position_middle {
            padding-bottom: 14px;
            padding-top: 10.75px;
        }
    }

    &__event {
        text-transform: uppercase;

        @media (max-width: $layout-breakpoint-small) {
            font-size: 14px;

        }
    }

    &__subtitle {
        padding-left: 11.75px;
    }



    &__description {
        font-family: $font-Inter;
        max-width: 310px;

    }

    &__title {
        font-size: 38px;
        font-family: $font-Audiowide;
        line-height: 45.5px;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 80px;
        padding-top: 120px;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        padding: 30px 12px;

        @media (max-width: $layout-breakpoint-small) {
            padding: 15px 10px;
            gap: 10px;
               display: grid;
            grid-template-columns: auto auto;
        }
     
    }

    &__text {
        font-size: 11px;
        line-height: 3;

        &_size_big {
            font-size: 12px;
        }

        &_line-height {
            line-height: 2.5;
        }

        &_color_green {
            color: $green-color;
        }


        @media (max-width: $layout-breakpoint-small) {
            line-height: 2;
        }
    }

    &__phase {
        color: $green-color;
        font-size: 8px;
        line-height: 12px;
        text-transform: uppercase;
    }

    &__img {
        border-radius: 8px;

        @media (max-width: $layout-breakpoint-small) {
            display: none;
        }
    }

}

.lines {
    position: absolute;
    z-index: -1;
}

.lines_one {

    top: 10%;
    left: 30%;
}

.lines_two {

    top: 40%;
    right: 30%;

}

.lines_three {

    bottom: 25%;
    left: 30%;

}



.lines span {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: block;
    border-radius: 50%;

}

.span1 {
    width: 99px;
    height: 99px;
    border: 3px solid green;
    animation: pulsation1 10s infinite;
}

.span2 {

    width: 160px;
    height: 160px;
    border: 2px solid green;
    animation: pulsation2 10s infinite;
}

.span3 {
    width: 258px;
    height: 258px;
    border: 2px solid green;
    animation: pulsation1 10s infinite;
}

.span4 {
    width: 416px;
    height: 416px;
    border: 1px solid green;
    animation: pulsation2 10s infinite;
}

.span5 {
    width: 670px;
    height: 670px;
    border: 1px solid green;
    animation: pulsation1 10s infinite;

}

@media (max-width: $layout-breakpoint-medium) {
    .span5 {
        visibility: hidden;
    }

}

@keyframes pulsation1 {
    0% {
        transform: translate(-50%, -50%) scale(1.1);
    }

    50% {
        transform: translate(-50%, -50%) scale(1);
    }


    100% {
        transform: translate(-50%, -50%) scale(1.1);
    }
}


@keyframes pulsation2 {
    0% {
        transform: translate(-50%, -50%) scale(1.2);
    }

    50% {
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        transform: translate(-50%, -50%) scale(1.2);
    }
}