//Colors
$main-color: #FFFFFF;
$green-color: #8DFD1B;
//Fonts
$font-Audiowide: 'Audiowide', sans-serif;
$font-Inter: 'Inter', sans-serif;
$font-Mono: 'DM Mono', monospace;

//Media 
$layout-breakpoint-exexlarge: 1400px;
$layout-breakpoint-exlarge: 1200px;
$layout-breakpoint-large: 992px;
$layout-breakpoint-medium: 768px;
$layout-breakpoint-small: 576px;
$layout-breakpoint-xsmall: 320px;

$none: none;



